.bg {
     background-image: url("../../../assets/bus_tickets/image1.jpg");
     height: 85vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
       }
       @media screen and (min-width: 683px) {
        .second_card {
         
        }
      }
      
      @media screen and (max-width: 682px) {
        .second_card {
          margin-top: 30px;
        margin-right: 32px;
        }
      }
       @media screen and (min-width: 683px) {
        .first_card {
         
        }
      }
      
      @media screen and (max-width: 682px) {
        .first_card {
         margin: 35px;
        }
      }



      